<div [ngStyle]="{height:_containerHeight, width:_containerWidth, position:'relative'}" #container
  (pointermove)="onPointerMove($event)" (pointerleave)="onPointerLeave($event)">
  <!-- (pointerenter)="onPointerEnter($event)"  -->
  <app-stream-video [mediaStream]="_mediaStream" [videoStyle]="_videoStyle" [muted]="_muted" [sinkId]="_sinkId"
    (click)="onClick($event)" (onInfo)="onInfo($event)"></app-stream-video>
  <div class="pos-abs top-left op-7" #label>
    <ng-content select="[label]"></ng-content>
  </div>
  <div class="pos-abs top-right op-7 d-flex flex-row gap-1" #dcontrols>
    @if (_objectFitSwitch) {
    <button mat-mini-fab matTooltip="Cover/Crop" (click)="toggleObjectFit()"><mat-icon aria-hidden="false"
        aria-label="crop" [fontIcon]="_objectFit === 'cover' ? 'crop' : 'crop_free'"></mat-icon></button>
    }
    <ng-content select="[dcontrols]"></ng-content>
  </div>
  <div class="pos-abs bottom-right op-7" #controls>
    <ng-content select="[controls]"></ng-content>
  </div>
  <div class="pos-abs centered-axis-x op-7 pe-none" #info>
    @if (gstate.monitor) {
    <mat-chip>{{videoSize}}</mat-chip>
    }
  </div>
  @for (pointer of clickPointers; track pointer) {
  <app-pointer [pointer]="pointer"></app-pointer>
  }
  @for (pointer of pointers; track pointer) {
  <app-pointer [pointer]="pointer"></app-pointer>
  }
</div>