@use '@angular/material' as mat;

// @import '../../theme.scss'; => not good, this generates a lot of css

:host {
  position: absolute;
  // background-color:  mat.get-color-from-palette($my-primary, 500);
  top: 50%;
  left: 50%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 0.7;
  transform: translate(-50%, -50%);
  padding: 7px;
  background:
    radial-gradient(black, #82D5F6) content-box,
    #82D5F6;
  // to let someone click at the same place !
  pointer-events: none;
}