// @use 'sass:map';
@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

// $light-primary: mat.define-palette(mat.$blue-grey-palette, 500);
// $light-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$dark-primary: mat.m2-define-palette(mat.$m2-light-blue-palette, A100);
$dark-accent: mat.m2-define-palette(mat.$m2-green-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

// The less themes you define, the less css it generates !
// $light-theme: mat.define-light-theme((color: (primary: $light-primary,
//         accent: $light-accent,
//         warn: $my-warn,
//       ),
//       typography: mat.define-typography-config(),
//       density: 0,
//     ));

// @debug $light-theme;

$dark-theme: mat.m2-define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
        warn: $my-warn,
      ),
      typography: mat.m2-define-typography-config(),
      density: 0,
    ));

// Apply the dark theme by default
//
// Emit theme-dependent styles for common features used across multiple components.
@include mat.elevation-classes();
@include mat.app-background();

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($dark-theme);
@include mat.chips-theme($dark-theme);
// Include the theme mixins for other components you use here.
@include mat.fab-theme($dark-theme);
@include mat.icon-theme($dark-theme);
@include mat.icon-button-theme($dark-theme);
@include mat.input-theme($dark-theme);
@include mat.form-field-theme($dark-theme);
// @include mat.progress-spinner-theme($dark-theme);
@include mat.select-theme($dark-theme);
@include mat.snack-bar-theme($dark-theme);
@include mat.tooltip-theme($dark-theme);
// As an alternative, to listing every component that your application uses :
// These mixins behave the same as individual component mixins, except they emit styles for core-theme and all 35+ components in Angular Material. Unless your application uses every single component, this will produce unnecessary CSS.
// @include mat.all-component-themes($my-theme); => lead to 84.74 kB of css, specifying only components used makes it 32 kB !

// Apply the light theme only when the user prefers light themes.
// @media (prefers-color-scheme: light) {
//   // Use the `-color` mixins to only apply color styles without reapplying the same
//   // typography and density styles.
//   @include mat.core-color($light-theme);
//   @include mat.button-color($light-theme);
//   @include mat.fab-color($light-theme);
//   @include mat.icon-color($light-theme);
//   @include mat.icon-button-color($light-theme);
//   @include mat.input-color($light-theme);
//   @include mat.form-field-color($light-theme);
//   @include mat.select-color($light-theme);
//   @include mat.tooltip-color($light-theme);
// }

/* You can add global styles to this file, and also import other style files */

html,
body {
  color-scheme: light dark;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* scrollbar-width: none; NOT WORKING */
  // background-color: rgb(77, 77, 77);
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.d-flex {
  display: flex;
}

// .d-grid {
//   display: grid;
//   grid-template-columns: 50% 50%;
//   grid-template-rows: 50% 50%;
// }

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

// .flex-g-1 {
//   flex-grow: 1;
// }

.c-pointer {
  cursor: pointer;
}

.op-7 {
  opacity: 0.7;
}

.gap-1 {
  gap: 4px;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.pos-abs {
  position: absolute;
}

.pos-relative {
  position: relative;
}

.bottom-right {
  bottom: 0;
  margin-bottom: 4px;
  right: 0;
  margin-right: 4px;
}

.bottom-left {
  bottom: 0;
  margin-bottom: 4px;
  left: 0;
  margin-left: 4px;
}

.top-left {
  top: 0;
  margin-top: 4px;
  left: 0;
  margin-left: 4px;
}

.top-right {
  top: 0;
  margin-top: 4px;
  right: 0;
  margin-right: 4px;
}

.dvh-100 {
  height: 100dvh;
}

.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-5 {
  margin-top: 1rem;
}

.ml-2 {
  margin-left: 8px;
}

.centered-axis-x {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}